* {margin: 10px;}

/*Allt som har med header att göra  */
.header-container {
    display: flex;
    flex-direction: column;
}

.top-header {
    border-radius: .8rem;
    height: 400px;
    width: 100%;
    background-image: url(katt3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
   
    justify-content: flex-end;
}

.top-header-2 {
    border-radius: .8rem;
    height: 400px;
    width: 100%;
    background-image: url(katt4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;

    justify-content: flex-end;
}
.social {
    opacity: 0.7;
}
.social:hover {

    transform: scale(120%);
    opacity: 1;
    
    
 
}

.bottom-header {
    border-radius: .8rem;
    height: 110px;
    
    background-color: rgb(233, 233, 233);
    display: flex;
    align-items: center;
}

.header-image {
    border-radius: .8rem;
    height: 90px;
    width: 90px;

}

.header-text {
    margin: 5px;
    display: inline-block;
    letter-spacing: 5px;
    

    
    font-size: 40px;
}

/* Här slutar header */

.big-wrapper {
   
    height: fit-content;
    display: flex;
}

.wrapper-split-left {
 height: fit-content;
 flex:3;
}

.wrapper-split-right {
    height: 1000px;
    flex:1;
}

.post-content {
    background-color: rgb(237, 237, 237);
        box-shadow: 0 1.4rem 8rem rgb(131, 130, 130);
        border-radius: .8rem;
        padding: 10px;
}
.image {
    max-width: 350px;
    
    height: 300px;
    border-radius: .8rem;
}


.navbar {

    overflow: hidden;
    
    background-color: rgb(237, 237, 237);
    box-shadow: 0 1.4rem 8rem rgb(131, 130, 130);
    border-radius: .8rem;



}
.blog-button {
    background-color: #a0a0a0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: .8rem;

}
.blog-button:hover {
    transform: scale(110%);
    color: rgb(230, 207, 31);
}

.my-footer{ 
    padding: 10px;
    border-radius: .8rem;
    height: 120px;
    width: 100%;
    background-color: #a0a0a0;
}
@media screen and (min-width:500px) and (max-width:800px){
    .big-wrapper{
        flex-direction: column;
    }
        .header-text {
            font-size: large;
            margin-top: 10px;
            
    
    
        }
    
        .header-image {
            display: none;
        }
                .content-image {width: 100%;}
                .socials {margin-top: auto;}
}

@media (width <=500px) {
    .big-wrapper {
            flex-direction: column;
        }
    .bottom-header{
        display: none;
    }
    .top-header{
        
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
    }
        .content-image {
            width: 100%;
        }
        .socials{margin-top: auto;}
}